<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hayashivendaexterna">

    <application
        android:allowBackup="true"
        android:icon="@drawable/hayashi_logo_min"
        android:label="@string/app_name"
        android:roundIcon="@drawable/hayashi_logo_min"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activitys.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activitys.MainActivity">

        </activity>
    </application>

</manifest>